// Place all the styles related to the routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.routes-list {
  font-size: 13px;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid black;
  td, th {
    border-left: 1px solid black;
    text-align: center;
  }
  td:first-child, th:first-child {
    border: 0;
    text-align: left;
  }
}

.route-nav {
  margin-bottom: 10px;
  a {
    display: inline-block;
    padding: 5px 15px 5px 15px;
    background-color: #EAEAEA;
    text-decoration: none;
    color: #333;
    border-right: 1px solid black;
  }
  a:last-child {
    border: 0;
  }
}
